@model StudentManagementAPI.Models.Subject

<h2>Create New Subject</h2>

<form asp-action="Create" method="post">
    <input asp-for="SubjectName" class="form-control" required />
    <input asp-for="SubjectLecturer" class="form-control" required />


    <button type="submit">Create</button>
</form>

